<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Liên hệ với chúng tôi</h1>               
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Contact Area =================-->
<section class="contact_area section_gap_bottom">
    <div class="container">
        <div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13" data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
             data-mlat="40.701083" data-mlon="-74.1522848">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>CHI NHÁNH QUẬN TÂN BÌNH</h6>
                        <p>
                            66 Yên Thế P.2 Q.Tân Bình
                            (Gần sân bay Tân Sơn Nhất)
                        </p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">0834 6789 03</a></h6>
                        <p>Giờ mở cửa: 9h - 21h mỗi ngày</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">sontrinh502tb@gmail.com</a></h6>
                        <p>Gửi mọi thắc mắc của bạn bất cứ lúc nào!</p>
                    </div>
                </div>
            </div>       
</section>
<!--================Contact Area =================-->
